.mainColor{
  background-color: #ffb200;
}
h3 h4 h5{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a{
  text-decoration: none;
}

.category a{
    color:rgb(190, 157, 7) !important;
    font-family: sans-serif !important;
    font-size: 16px !important;
  }
  .category a:hover{
    color:red !important;
  }
.carousel-inner{
    z-index: -1;
}

.bigProd img{ 
  height: 100%;
  width: 100%;
}
.bigProd
{
  height:300px;
} 

.product-card {
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  background: #ffffff;
  height:330px  
}

.product-tumb:hover{
  transform: scale(1.2);
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  align-items: center;
  justify-content: center;
  /* padding-left: 35px;
  padding-right: 20px; */
  background: #ffffff;
  transition: transform .5s;
  height: 70%;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 10px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(31, 27, 27);
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
}

.product-price {
  font-size: 17px;
  font-weight: 550;
  color: #fbb72c;
}

.product-price small {
  font-weight: 700;
  text-decoration: line-through;
  display: inline-block;
  color:black;
}

.product-links {
  text-align: right;
}

.product-links a {
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}
@media (max-width:1281px) {
  .bigProd img
  {
    height:92%;
  }
}

@media (max-width:767px) {
  .single
  {
    display:none
  }
}
@media  (max-width: 994px) {
  .bigProd
  {
    display:none
  }
  .product-catagory
  {
    font-size: 14px;
  }
  .product-price
  {
    font-size: 18px;
  }
  .product-card
  {
    margin-top:11px;
  }
  .product-tumb 
  {
    padding-left: 2px;
    padding-right:2px
  }
  .list-group
  {
    display: none;
  }
 
}

@media(max-width:428px) {
  .product-price
  {
    text-transform: uppercase;
    font-size: 15px;
  }
  .product-details
  {
    padding: 0;
  }
  .product-catagory
  {
    font-size:12px;
  }
  .product-card
  {
  height: 290px
  }

  .kova img
  {
    height:55px !important;
  }
  .col-detail
  {
    display:none
  }
  .img_table
  {
    width:150px !important; 
    height:150px !important;
  }
  .nav-link
  {
    padding: 0!important;
  }
  .nav-link span{
    font-size: 19px;
  }
  .dropdown-toggle::after {
    margin-left: 4.755em !important;
    vertical-align: 0.85em;
    border-top: 0.5em solid;
    border-right: 0.5em solid transparent;
    border-bottom: 0;
    border-left: 0.5em solid transparent;
  }    
}

.limited{
  max-height: 670px;
  overflow: hidden;
}
.showInfo
{
  display: block;
  text-align: center;
  height: 43px;
  border-radius: 8px;
  border: 1px solid #2d3031;
  font: 16px/39px "RobotoMedium";
  color: #ff0000;
  margin-top: 10px;
  transition: all 0.4s;
  cursor: pointer;
  font-size: 20px;
}

.logobrand img{
  width: 100%;
}
.img_table
{
  width:200px;
  height:200px;
}
